.list-item
    border: 1px solid
.user-title
    display: flex
    padding: 2px 2px
    &>button
        width: 30%
        height: 40px
.user-wrapper
    display: grid
    width: 70%
    grid-template-columns: 15% 40% 15% 30%
    align-items: center
.user-info
    padding: 2px 2px
    display: flex
    justify-content: space-between
    &>button
        height: 40px
        width: 40px
        align-self: center
.user-laps
    width: 100%
.active
    background-color: #a2efa2