.text-size
    font-size: 25px

.main__timer
    font-family:sans-serif
    font-size:100px
    &__buttons
        display: flex
        justify-content: center
    &__buttons > button
        width: 50%
    
.main
    padding-top:5%
    width: 350px
    max-width: 500px
    margin: 0 auto
    display: grid
    row-gap: 20px

.input
    display: flex
    &__number
        width: 20%
    &__name
        width:65%
    &__distance
        width:15%

